<mat-toolbar color="transparent" class="synq-toolbar">
    <section class="synq-toolbar-left">
        <a class="synq-brand" routerLink="/">
            <span class="synq-brand-dot"></span>
            <span class="synq-brand-text">synq</span>
        </a>

        <nav class="synq-nav-links">
            @if (!isHomeRouter()) { <a mat-button routerLink="" routerLinkActive="active">Home</a>}
            <a mat-button routerLink="/chat" routerLinkActive="active">Chat</a>
            <a mat-button routerLink="/explor" routerLinkActive="explore">Explore</a>
        </nav>
    </section>

    <section class="synq-toolbar-right">
        @if (accountService.loggedInUserSig(); as user) {
        <button mat-stroked-button class="synq-quick-action" routerLink="/chat/new">
            <mat-icon>add_comment</mat-icon>
            <span>New chat</span>
        </button>

        <button mat-mini-fab class="synq-avatar-button" [matMenuTriggerFor]="appMenu">
            @if (user.profilePhotoUrl) {
            <img [src]="apiUrl + user.profilePhotoUrl" [alt]="user.userName" />
            }
            @else {
            <span class="synq-avatar-initial">
                {{ user.userName[0] | titlecase }}
            </span>
            }
        </button>
        }
        @else {
        <button mat-stroked-button class="synq-auth-btn" routerLink="/account/login">
            Log in
        </button>

        <button mat-flat-button color="primary" class="synq-auth-btn primary" routerLink="/account/register">
            Sign up
        </button>
        }
    </section>
</mat-toolbar>

<mat-menu #appMenu="matMenu" class="synq-user-menu">
    @if (accountService.loggedInUserSig(); as user) {
    <div class="synq-user-menu-header">
        <div class="synq-user-avatar">
            @if (user.profilePhotoUrl) {
            <img [src]="apiUrl + user.profilePhotoUrl" [alt]="user.userName" />
            }
            @else {
            <span>{{ user.userName[0] | titlecase }}</span>
            }
        </div>
        <div class="synq-user-meta">
            <p class="synq-user-name">{{ user.userName }}</p>
            <p class="synq-user-email">{{ user.email }}</p>
        </div>
    </div>
    }

    <mat-divider></mat-divider>

    <mat-nav-list class="synq-user-menu-list">
        <a mat-list-item routerLink="user/user-edit">
            <mat-icon matListIcon>tune</mat-icon>
            <span matLine>Profile</span>
        </a>

        <a mat-list-item routerLink="/settings">
            <mat-icon matListIcon>tune</mat-icon>
            <span matLine>Settings</span>
        </a>

        <a mat-list-item routerLink="/chat">
            <mat-icon matListIcon>chat_bubble</mat-icon>
            <span matLine>Messages</span>
        </a>
    </mat-nav-list>

    <mat-divider></mat-divider>

    <button mat-button class="synq-logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
    </button>
</mat-menu>